In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import scipy.sparse
import collections

In [2]:
def make_ft(x):
    t = x['sequence']
    t = t[t>0]
    t = ' '.join(t.astype(str))
    l1 = ' '.join(['__label__' + n for n in x['categories']])
    l2 = '__label__' + x['hierarchy'][0]
    return [' '.join([l1,t]),' '.join([l2,t])]

# from raw data

In [3]:
df = pd.read_pickle('data/sic_hierarchy.pkl')

In [6]:
df.head()

,text,categories,train/test,sic,cat0,cat1,cat2,cat3,hierarchy,sequence
id,,,,,,,,,,
453844,welcome to a1 lifts . professional and reliabl...,"[C, 33, 3319, 33190]",train,33190,[C],[33],[3319],[33190],[C33190],"[48, 7, 3871, 2402, 63, 2, 436, 2046, 746, 81,..."
914843,"our friendly service , surprising range of fre...","[G, 47, 4711, 47110]",train,47110,[G],[47],[4711],[47110],[G47110],"[13, 134, 30, 2019, 25, 5, 495, 2, 1707, 36, 2..."
326959,"wherever you want to get to in life , lloyds b...","[K, 64, 6419, 64191]",train,64191,[K],[64],[6419],[64191],[K64191],"[1075, 16, 243, 7, 72, 7, 4, 220, 1328, 186, 9..."
541943,stanley gibbons – the home of stamp collecting...,"[G, 47, 4778, 47789]",test,47789,[G],[47],[4778],[47789],[G47789],"[5523, 16256, 271, 3, 32, 5, 7892, 8629, 650, ..."
445157,are you looking for high - quality dentistry i...,"[Q, 86, 8623, 86230]",train,86230,[Q],[86],[8623],[86230],[Q86230],"[17, 16, 154, 8, 70, 31, 1004, 4, 490, 54, 3, ..."

In [7]:
labs_c = df.categories.apply(lambda x: ' '.join(['__label__' + n for n in x]))
labs_h = df.hierarchy.apply(lambda x:'__label__' + x[0])
seqs = df.sequence.apply(lambda x:' '.join(x[x>0].astype(str)))
df['FT_c'] = labs_c + ' ' + seqs
df['FT_h'] = labs_h + ' ' + seqs

In [15]:
df.head()

,text,categories,train/test,sic,cat0,cat1,cat2,cat3,hierarchy,sequence,FT_c,FT_h
id,,,,,,,,,,,,
453844,welcome to a1 lifts . professional and reliabl...,"[C, 33, 3319, 33190]",train,33190,[C],[33],[3319],[33190],[C33190],"[48, 7, 3871, 2402, 63, 2, 436, 2046, 746, 81,...",__label__C __label__33 __label__3319 __label__...,__label__C33190 48 7 3871 2402 63 2 436 2046 7...
914843,"our friendly service , surprising range of fre...","[G, 47, 4711, 47110]",train,47110,[G],[47],[4711],[47110],[G47110],"[13, 134, 30, 2019, 25, 5, 495, 2, 1707, 36, 2...",__label__G __label__47 __label__4711 __label__...,__label__G47110 13 134 30 2019 25 5 495 2 1707...
326959,"wherever you want to get to in life , lloyds b...","[K, 64, 6419, 64191]",train,64191,[K],[64],[6419],[64191],[K64191],"[1075, 16, 243, 7, 72, 7, 4, 220, 1328, 186, 9...",__label__K __label__64 __label__6419 __label__...,__label__K64191 1075 16 243 7 72 7 4 220 1328 ...
541943,stanley gibbons – the home of stamp collecting...,"[G, 47, 4778, 47789]",test,47789,[G],[47],[4778],[47789],[G47789],"[5523, 16256, 271, 3, 32, 5, 7892, 8629, 650, ...",__label__G __label__47 __label__4778 __label__...,__label__G47789 5523 16256 271 3 32 5 7892 862...
445157,are you looking for high - quality dentistry i...,"[Q, 86, 8623, 86230]",train,86230,[Q],[86],[8623],[86230],[Q86230],"[17, 16, 154, 8, 70, 31, 1004, 4, 490, 54, 3, ...",__label__Q __label__86 __label__8623 __label__...,__label__Q86230 17 16 154 8 70 31 1004 4 490 5...

In [16]:
for mode in ['train','test']:
    np.savetxt('data/FT/sic_c.{}.txt'.format(mode),df[df['train/test']==mode].FT_c.values,fmt='%s')
    np.savetxt('data/FT/sic_h.{}.txt'.format(mode),df[df['train/test']==mode].FT_h.values,fmt='%s')

In [18]:
with open('data/FT/sic_c.test.txt') as f:
    for i,line in enumerate(f):
        print(line)
        if i>10:
            break

__label__G __label__47 __label__4778 __label__47789 5523 16256 271 3 32 5 7892 8629 650 13 1172 5 5473 20 231 3 79

__label__S __label__96 __label__9602 __label__96020 5158 1307 27978 828 1307 27978 37901 23169 49982 49983 230 11812 49984 741 27978 634 42609 604 4952 49985 230 11812

__label__J __label__62 __label__6202 __label__62020 11 192 4 7360 8986 2 5795 157 27 2 76 135

__label__M __label__70 __label__7022 __label__70229 9068 4810 14 9 3 234 430 4 903 1001 2 4504 4810

__label__G __label__47 __label__4761 __label__47610 2196 18 4243 3 10 19 29 4232 2 155 5 32 2 176 454 44 768 163 22 2 259 34 53 18 625 35 124 424

__label__J __label__59 __label__5912 __label__59120 818 301 36 21 302 792 81 158 681 68 168 5 572 991 2742 2 6376 114

__label__C __label__18 __label__1812 __label__18129 38 295 28 10 94 376 2 37 30 11 50 187 1398 70 31 376 2 37 8 35 424 71 11 429 3 348 681 8 24 15 376 2 37 126

__label__G __label__46 __label__4674 __label__46740 298 237 163 17 103 81 31 237 2 188 52 7 3 252 368 351 12 380 509 1748

__label__N __label__77 __label__7711 __label__77110 112 2 591 65 2409 20 42 5 13 10 28 772 744

__label__F __label__43 __label__4322 __label__43220 1 2045 854 11 49 436 864 607 191 237 2 188 14 7 854 2570 12535 2 3 322 195

__label__G __label__46 __label__4669 __label__46690 2768 9 3 10 19 101 173 1335 155 12 1646 1255 368 351 11 152 367 20 1156 2 2055 7 2295 2058 2 204 23

__label__G __label__47 __label__4778 __label__47789 24487 9 6 201 430 4 7166 2 371 52 7 3 940 1792 1070 2 1762 413 24487 95 35 504 317 2301 340 343 1417 735 506 1274 1762 109 871 2 35 1847 384 30 2767 73 9 697 2305 57 6 359 5 35 527 7659 596 30 2767 2 1521 47 310 5465 545 941 24487 111 95 13448 21 3 4008 5